.title {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid black;
  height: 10vh;
  background-color: white;
}

.menu {
  width: 5rem;
}

@media screen and (max-width: 900px) {
  .header {
    font-size: 12px;
  }
}
