@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #272343;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.test {
  border: 1px dotted red;
}

.status {
  border: 1px black solid;
  border-radius: 20px;
}

.avatar {
  border: 1px black solid;
  border-radius: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: auto;
  margin: 0;
}

.bodyBox {
  background-color: white;
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: auto;
  margin: 1rem;
  padding: 5%;
  border: 1px solid black;
}

.backgroundBox {
  background-color: white;
  height: 70vh;
  width: 70vw;
  height: 100vh;
  width: auto;
  margin: 1rem;
  padding: 5%;
  border: 1px solid black;
  overflow-x: auto;
  max-width: 80vw;
}
